<!DOCTYPE html>
<html>
    <style>
       #showList{
            visibility: visible;
        }
        #hideList{
            display: none;
        }
    </style>

    <body>
        <button><a href="/todo/">To Do List</a></button>
        <button><a href="/todoHistory/">To Do History</a></button>
        <button><a href="{% url 'logout' %}">Log Out</a></button>

        <br><br><br>

        <p>Todo History<p>
        <ul>
            <div id="showList">
                {% for todo_item in all_items %}
                <li>
                    {{ todo_item.content }}		||		{{ todo_item.timeStamp}}
                </li>
                <br />
            </div>
            {% endfor %}

        </ul>
       
    </body>

</html>
